.avatar-img {
  width: 110px;
  margin: 30px;
  border-radius: 100%;
}

body {
  background-color: #BCDDE8;
  text-align: center;
  margin: 30px;
}

.repositories{
  // width: 100px;
  border: 2px dotted black;
  display: none;
}

.repo {
  display: inline-block;
  margin: 10px;
}

#page-numbers {
  display: inline-block;
  list-style: none;

}

.page {
  display: inline-block;
  font-size: 30px;
}

hr {
  display: inline-block;
  width: 10px;
  border: 1px pink dotted;
}

#user-info {
  margin-bottom: 20px;
}
